/* Style sheet for index.html */

/* element styles */
body{
  background-color: #f8f7f4;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin:15px;
    font-size:16px;
}

h1{
    color: #6C584C;
    text-align: center;
}

h2{
  text-align: center;
  color: #927e71;
}

strong{
  color: #6C584C;
}

img{
  width:75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form{
    text-align: center;
    align-content: center;
}

a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

li{
    font-size: 18px;
    color: #6C584C;
    font-weight: 200;
}

img{
  object-fit: cover;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: #927e71;
}

tr:nth-child(even) {
  background-color: #ebe7e5;
}

tr:nth-child(odd) {
  background-color: #e1cbbb;
}

/* mobile responsiveness */
.row::after {
    content: "";
    clear: both;
    display: block;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 45%;}
.col-2 {width: 45%;}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

/* class styles */
.center{
    text-align: center;
    margin:0px;
}

.note{
  font-size: 9px;
}

/* ID styles */
#timelabel{
    background-color: yellow;
    height: 30%;
}

#checkboxlabel{
    background-color: pink;
    height: 30%;
}

/* Navigation */
.topnav {
    background-color: #6C584C;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color: #6C584C;
  }





  /* Image stuff */

/* Styles for the box containing slide images */




/* Image with overlay */
div#lbImages img {
  display: block;
  height: auto;
  filter: opacity(1);
  cursor: pointer;
  outline: 2px solid #9C6908;
  box-shadow: 3px 3px 10px black;  
  user-select: none;   
}


/* Hovering for the image */
div#lbImages img:hover {
  filter: opacity(0.8);
}

/* Overlay */
div#lbOverlay {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(104,49,0,0.85);  /* Semitransparent brown background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the figure box within the overlay */
div#lbOverlay figure {
  display: block;
  width: 80%;
  max-width: 800px;
}

/* Styles for the image within the overlay */
div#lbOverlay figure img {
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 20px black;
  animation-name: zoom;
  animation-duration: 1s;
}

/* Close button */
div#lbOverlay div#lbOverlayClose {
  position: absolute;
  top: 20px;
  right: 40px;
  color: #f1f1f1;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}

/* Hovering styles for the modal window close button */
div#lbOverlay div#lbOverlayClose:hover {
  color: #F7F1A9;
  text-shadow: 3px 3px 0px black;
}

/* Keyframe animation for the opening of the modal window figure and caption */
@keyframes zoom {
 from {transform:scale(0)}
 to {transform:scale(1)}
}
