/* Style sheet for index.html */

/* element styles */
body{
  background-color: #ebe8dc;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin:15px;
    font-size:16px;
}

h1{
    color: #6C584C;
    text-align: center;
}

h2{
  text-align: center;
}

img{
  width:75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form{
    text-align: center;
    align-content: center;
}

a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

li{
    font-size: 18px;
    color: #6C584C;
    font-weight: 200;
}

img{
  object-fit: cover;
}

/* mobile responsiveness */
.row::after {
    content: "";
    clear: both;
    display: block;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 45%;}
.col-2 {width: 45%;}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

/* class styles */
.center{
    text-align: center;
    margin:0px;
}

/* ID styles */
#timelabel{
    background-color: yellow;
    height: 30%;
}

#checkboxlabel{
    background-color: pink;
    height: 30%;
}

/* Navigation */
.topnav {
    background-color: #6C584C;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: white;
    color: #6C584C;
  }